@font-face {
    font-family: 'Neometric';
    src: url(NeometricMedium.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 89.5%;
    height: 450px;
    margin: 110px;
    /* background: green; */
    display: flex;
    justify-content: center;
}

.box{
    width: 360px;
    height: 450px;
    margin-right: 35px;
    border-radius: 5%;
    border: 5px solid #fafaff;
}

.box .cajita{
    width: 70px;
    height: 70px;
    margin-top  : 42px;
    margin-left: 42px;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #f1f5ff;
    border-radius: 20%;
}

.box .iconos{
    margin-top: 15px;
}

.box h3{
    margin-top: 42px;
    margin-left: 42px;
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Ubuntu", sans-serif;
    color: #1f3e72;
}

.box p{
    margin-top: 25px;
    margin-left: 42px;
    margin-right: 42px;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    font-family: "Neometric";
    color: #6d7b93;
}

/* Style the button that is used to open and close the collapsible content */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #fff;
    color: #1f3e72;
    cursor: pointer;
    margin-left: 100px;
    width: 450px;
    height: 65px;
    text-align: left;
    font-weight: bolder;
    border: 3px solid #fafaff;
    border-radius: 5%;
    transition: 0.4s;
}

.panel p{
    font-size: 16px;
    font-weight: 400;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #fff;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #3252d0;
    float: right;
    text-align: center;
    padding-right: 20px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #3252d0;
}

.accordion .cajaizquierda{
    width: 40px;
    height: 40px;
    /* margin-left: 40px; */
    background-color: #0048ff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    margin-left: 130px;
    padding-left: 10px;
    background-color: white;
    display: none;
    overflow: hidden;
}

body {
    background-color: #ffffff;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.75);
    transition: 0.6s;
    padding: 25px 110px;
    z-index: 50;
}

header.sticky {
    padding: 5px 120px;
}

header .title {
    color: #405fd7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    top: 10px;
    margin: 0px 25px;
    text-decoration: none;
    color: #6d7b93;
    font-family: 'Fredoka', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 7px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.custom-btn-1 {
    width: 200px;
    height: 50px;
    margin-left: 16%;
    margin-top: 10%;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-1 {
    background: rgb(22,9,240);
    background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%);
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn-1:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    -webkit-transform: scale(.1);
    transform: scale(.1);
}
.btn-1:hover {
    color: #fff;
    border: none;
    background: transparent;
}
.btn-1:hover:after {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(2,126,251,1) 0%,  rgba(0,3,255,1)100%);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.btn-2 {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    border: none;
}
.btn-2:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.menu-icon {
    display: none;
}

.btn {
    box-shadow: 0px 3px 0px 0px rgba(144, 163, 227, 0.2)
}

.ct {
    width: 100%;
    height: 1000px;
}
.second {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(10,150,229);
    background: linear-gradient(90deg, rgba(10,150,229,1) 0%, rgba(40,116,220,1) 48%, rgba(51,100,219,1) 100%);
    height: 125vh;
}

.marginhelper{
    margin-top: 195px;
}

.contentcontactbox{
    margin-left: 100px;
    margin-top: 35px;
    width: 900px;
    height: 200px;
    display: flex;
}

.contactbox{
    width: 300px;
    height: 200px;
    margin-right: 35px;
    background-color: #fff;
    border: 5px solid #fafaff;
    border-radius: 5%;
}

.contactbox .iconos{
    display: flex;
    margin: 25px
}

.contactbox h3{
    margin-top: -20%;
    margin-left: 80px;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #1f3e72;
    font-weight: bolder;
}

.contactbox h4{
    margin-top: -2%;
    margin-left: 80px;
    font-family: "Ubuntu", sans-serif;
    color: #6d7b93;
    font-size: 14px;
    font-weight: 200;
}

.nurse {
    margin-top: 250px;
}

.person{
    margin-top: 50px;
    position: inherit;
}

.mnurse{
    margin-top: 50px;
}

.vaccine{
    margin-top: 115px;
    margin-left: 110px;
}

.t1 {
    margin-top: 25%;
    text-align: left;
    padding-left: 100px;
}

.t2 {
    margin-top: 170px;
    text-align: left;
    padding-left: 100px;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #1f3e72;
}

h2{
    font-size: 40px;
    font-weight: bolder;
    color: #1f3e72;
}

p {
    color: #6d7b93;
    font-weight: 600;
    font-size: 19px;
}

.items1 {
    padding-top: 30px;
    margin-left: 100px;
    text-align: left;
    display: flex;
}

.items2 {
    padding-top: 130px;
    margin-left: 100px;
    text-align: left;
}

.icon {
    margin-top: -8px;
    margin-left: 5px;
}

.icon2 {
    margin-top: -8px;
    margin-left: 20px;
}

.icon3 {
    margin-top: 40px;
    margin-left: 40px;
}

.icon4 {
    margin-top: -50px;
    margin-left: 260px;
}

.icon5 {
    margin-top: -95px;
    margin-left: 480px;
}

.protect {
    color: #1f3e72;
    font-size: 15px;
    margin-top: -10px;
    margin-left: 20px;
}

.schedule {
    color: #1f3e72;
    font-size: 22px;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 40px;
}

.form-items {
    position: absolute;
    display: flex;
    width: 880px;
    height: 140px;
    z-index: 30;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 5px 5px 0px rgba(144, 163, 227, 0.6)
}

label {
    font-family: 'Neometric';
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: #8893a7;
}

.label1 {
    margin-left: 15px;
    margin-top: 35px;
}

.label2 {
    margin-left: 15px;
    margin-top: -26px;
}

.label3 {
    margin-left: 15px;
    margin-top: -50px;
}

input {
    border: none;
    outline: none;
    font-weight: bold;
    color: #1f3e72;
    font-size: 25px;
    position: absolute;
    background-color: transparent;
}

.inp1 {
    margin-left: 75px;
    margin-top: 10px;
}

.inp2 {
    margin-left: 295px;
    margin-top: -15px;
}

.inp3 {
    margin-left: 15px;
    margin-top: -16px;
}

.sbm {
    margin-left: 200px;
    margin-top: -40px;
}

@media screen and (max-width: 1000px){
    header .title {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
    }

    header ul.shown {
        width: 100%;
        text-align: center;
        display: block;
        padding: 0 0;
        margin: 0 0;
    }

    header ul.hide {
        display: none;
    }

    header ul li {
        display: block;
        padding: 0 0;
        margin: 0 0;
        line-height: 5ex;
    }
    header {
        float: none;
        display: flex;
        text-align: left;
        flex-wrap: wrap;
        padding: 35px 40px;
        transition: all 0.6s ease;
    }

    header.sticky .menu-icon {
        top: 9px;
        transition: all 0.6s ease;
    }

    .menu-icon {
        width: 50px;
        height: 40px;
        position: absolute;
        display: block;
        top: 35px;
        right: 20px;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border-style: solid;
        border-color: #405fd7;
        background-color: rgba(255, 255, 255, 0.8);
        transition: all 0.6s ease;
        border-radius: 25%;
    }

    .btn-hamburger {
        position: inherit;
        top: 4px;
        left: 5px;
        display: inline-block;
        background-color: #405fd7;
        height: 5px;
        width: 35px;
    }

    .btn-hamburger2 {
        position: absolute;
        background-color: #405fd7;
        height: 5px;
        top: 15px;
        left: 5px;
        width: 35px;
    }

    .btn-hamburger3 {
        position: inherit;
        bottom: 4px;
        left: 0;
        display: inline-block;
        background-color: #405fd7;
        height: 5px;
        left: 5px;
        width: 35px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot {
background-color: #edf2fe;
min-height: 45vh;
}

.footc {
    position: inherit;
    display: flex;
    justify-content: space-between;
    width: 78vw;
    min-height: 30vh;
    padding-bottom: 1%;
    margin-top: 4.2vw;
}

.vf {
    color: #405fd7;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.vd {
    position: inherit;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 35vw;
}

.goal {
    font-size: 16px;
    color: #8893a7;
    font-weight: 600;
}

.ttl {
    color: #1f3e72;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.lft {
    margin-left: 500px;
}

.lft2 {
    margin-left: 25px;
}